.container { 
    display: flex;
    flex-direction: row;
    font-size: 30px;
     font-weight: bold;
 }
 
 .box-1 {
    background-color: orange; 
    border: 5px solid black;
    height: 100px;
    width: 100px;
    padding: 30px;
    margin: 50px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .box-2 {
    background-color: yellow; 
    border: 5px solid black;
    height: 100px;
    width: 100px;
    padding: 30px;
    margin: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .box-3 {
    background-color: pink; 
    border: 5px solid black;
    height: 100px;
    width: 100px;
    padding: 30px;
    margin: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
 }